:root{
    --primary-color: #004D73;
    --primary-color-light: #40aadf;
    --background-color: #F4F4F4;
    --title-color: #004D73;
    --input-background-color: #E0E0E0;
    --text-color-dark: #333;
    --border-color: #B0B0B0;
    --common-border-radius: 40px;
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--background-color);
}

h1 {
    color: var(--title-color);
}

p {
    color: var(--text-color-dark);
}

hr {
    color: var(--title-color);
    opacity: 0.5;
}

header {
    display: flex;
    justify-content: start;
}

footer {
    display: flex;
    justify-content: center;
}

#logo {
    width: 200px;
    height: auto;
}

.pd-h-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.pd-h-40 {
    padding-left: 40px;
    padding-right: 40px;
}

.pd-v-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pd-v-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.smooth-box-shadow {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.simple-border {
    border: 1px solid var(--primary-color);
}

.hide {
    display: none !important;
}