<head>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/converter.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <script type="text/javascript" src="../js/converter.js"></script>
</head>

<div id="form-container" class="smooth-box-shadow simple-border">
    <div id="form-overlay" class="overlay">
        <div class="spinner-border" role="status"></div>
    </div>

    <label class="input-label" for="from-currency-input">Amount</label>
    <div id="from-currency-container" class="input-group">
        <input type="text" id="from-currency-input" class="input-group-text simple-border" placeholder="0,00" data-raw="" inputmode="decimal"></input>
        <select id="from-currency-select" class="form-select simple-border"></select>
    </div>
    
    <div>
        <button type="button" id="invert-form" class="btn btn-light simple-border" onclick="InvertForm()"><i class="bi bi-arrow-down-up"></i></button>
    </div>

    <label class="input-label" for="to-currency-input">Converted To</label>
    <div id="to-currency-container" class="input-group">
        <input type="text" id="to-currency-input" class="input-group-text simple-border" placeholder="0,00" data-raw="" inputmode="decimal"></input>
        <select id="to-currency-select" class="form-select simple-border"></select>
    </div>
</div>